@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@*@model ProjetFostHer.ViewModels.HomeViewModel*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a0ec4aca52.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Header du site -->
    <div class="nav_container">
        <!-- Site Header -->
        <header role="banner" aria-label="site navigation" class="site_header">
            <div class="header_block">
                <!-- Site Navigation -->

                <nav role="navigation" class="site-navigation">
                    <div class="logo_block">
                        <a href='@Url.Action("Index", "Home")'>
                             <img 
                                  class="logo_header"
                                  alt="Logo FostHer"
                                  src='@Url.Content("~/img/logo_site_blanc.svg")'/>
                        </a>

                    </div>
                    <ul class="header_list">
                        <li class="header_item">@Html.ActionLink("Associations", "IndexAssociation", "Association")</li>
                        <li class="header_item">@Html.ActionLink("Artiste", "IndexArtist", "Artist")</li>
                        <li class="header_item">@Html.ActionLink("Evènements", "IndexEvent", "Event")</li>
                        <li class="header_item">@Html.ActionLink("Crowdfundings", "CrowdfundingIndex", "Crowdfunding")</li>
                    </ul>
                </nav>
                <div class="right_item">
                    <div class="search_block">
                        <input class="search_bar"
                               type="search"
                               id="site-search"
                               name="saisie"
                               placeholder="Rechercher un artiste, une association, un évènement"
                               aria-label="Rechercher un artiste, une association, un évènement">
                        <i class="fas fa-search icon_search"></i>
                    </div>

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <div class="block_button">
                            <p class="button_white">@Html.ActionLink("Connexion", "IndexLogin", "Login")</p>
                        </div>
                    }
                    else
                    {

                        <div class="block_button">
                            <p class="user_button">
                                Bienvenue
                                <br />Low@*@ViewData["Message"]*@
                            </p>
                            <p class="button_white">@Html.ActionLink("Se déconnecter", "Deconnexion", "Login")</p>
                        </div>
                    }
                </div>
            </div>

        </header>
    </div>


    <div class="view_container">
        @RenderBody()
    </div>
    <!-- Footer du site -->
    <footer>
        <div class="footer_container">
            <div class="logo-footer">
                <a class="logo_footer_block" href="#">
                    <img class="logo_footer" src="~/img/logo_site_blanc.svg" />
                </a>
            </div>
            <div class="item_footer_block">
                <ul class=footer-list>
                    <li class="item-footer"><a href="#">Plan du site</a></li>
                    <li class="item-footer"><a href="#">Contactez-nous</a></li>
                    <li class="item-footer"><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="social_footer_block">
                <ul class="footer-social">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/Script/jquery-3.3.1.js"></script>
    <script src="~/Script/jquery.validate-vsdoc.js"></script>
    <script src="~/Script/jquery.validate.unobtrusive.js"></script>
    <script src="~/Script/MyScript.js"></script>
</body>
</html>