@model ProjetFostHer.Models.Crowdfunding
@{
    //ViewBag.Title = "Membership Artist";
    //Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contribuer</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Contibuer au crowdfunding : </legend>


        @Html.LabelFor(m => Model.NameCrowdfunding)
        @Html.TextBoxFor(m => Model.NameCrowdfunding, new { @readonly = true })


        @Html.LabelFor(m => Model.StartDate)
        @Html.TextBoxFor(m => Model.StartDate, new { @readonly = true })


        @Html.LabelFor(m => Model.EndDate)
        @Html.TextBoxFor(m => Model.EndDate, new { @readonly = true })



        @Html.LabelFor(m => Model.AssociationCrowdfunding)
        @Html.TextBoxFor(m => Model.AssociationCrowdfunding, new { @readonly = true })


        @Html.LabelFor(m => Model.Artist)
        @Html.TextBoxFor(m => Model.Artist, new { @readonly = true })


        @Html.LabelFor(m => Model.MinDonation)
        @Html.TextBoxFor(m => Model.MinDonation, new { @readonly = true })


        @Html.LabelFor(m => Model.MaxDonation)
        @Html.TextBoxFor(m => Model.MaxDonation, new { @readonly = true })

        @Html.LabelFor(m => Model.AmountMax)
        @Html.TextBoxFor(m => Model.AmountMax, new { @readonly = true })

        @Html.LabelFor(m => Model.Donation)
        @Html.TextBoxFor(m => Model.Donation)
        @Html.ValidationMessageFor(m => Model.Donation)



        <br />
        <input type="submit" value="Soumettre le formulaire" />
    </fieldset>
    }
<h1 align="center">@((Model.sum / Model.AmountMax)*100)%</h1>
    <h1 align="center">@Html.ActionLink("Retour à l'accueil", "Index", "Home")</h1>
</body>
</html>
