
@{
//Layout = "_Layout";
}
@using ProjetFostHer.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexEvent</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">

        <tr>

            <th> Id </th>
            <th> Name </th>
            <th> Min Donation </th>
            <th> Max Donation </th>
            <th> Amount max </th>

        </tr>>


        @foreach (Crowdfunding c in ViewBag.listcrowdfundings)
        {
            <tr>
                <td>@c.Id </td>
                <td>@c.NameCrowdfunding </td>
                <td>@c.MinDonation </td>
                <td>@c.MaxDonation </td>
                <td>@c.AmountMax </td>




                <td align="center">@Html.ActionLink("Contribuer", "Contribute", "Crowdfunding", new { id = c.Id })</td>

            </tr>
        }
    </table>
    <h1 align="left">@Html.ActionLink("Afficher mon panier", "IndexCart", "Cart", new { id = ViewData["id"] })</h1>

</body>
</html>
