@model ProjetFostHer.ViewModels.HomeViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Bienvenue sur la plateforme FostHer !</h1>
    <ul>
        <li>@Html.ActionLink("Créer une artiste", "CreateArtist", "Artist")</li>
        <li>@Html.ActionLink("Supprimer une artiste", "DeleteArtist", "Artist")</li>
        <li>@Html.ActionLink("Modifier une artiste", "EditArtist", "Artist")</li>
        <li>@Html.ActionLink("Créer une association", "CreateAssociation", "Association")</li>
        <li>@Html.ActionLink("Supprimer une association", "DeleteAssociation", "Association")</li>
        <li>@Html.ActionLink("Modifier une association", "EditAssociation", "Association")</li>
        <li>@Html.ActionLink("Créer un crowdfunding", "CreateCrowdfunding", "Crowdfunding")</li>
        <li>@Html.ActionLink("Supprimer un crowdfunding", "DeleteCrowdfunding", "Crowdfunding")</li>
        <li>@Html.ActionLink("Modifier un crowdfunding", "EditCrowdfunding", "Crowdfunding")</li>
    </ul>
</body>
</html>

