@model ProjetFostHer.ViewModels.HomeViewModel
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<body>
    <!-- Section Bienvenue FOSTHER -->
    <section class=" container bienvenue">
        <div class="bienvenue-container">
            <div class="bienvenue_block_text">
                <div class="bienvenue-title">
                    <h1>Bienvenue sur <br> FostHer!</h1>
                </div>
                <div class="line-break">
                </div>

                <div class="bienvenue-text">
                    <h4 class="sub_title"><strong class="bold_text">La plateforme dédiée aux femmes artistes!</strong></h4>
                    <p>
                        La plateforme <strong class="bold_text">FOST/HER</strong> (contraction entre “foster”, qui signifie
                        “encourager le développement de quelque chose de bon”, et “her” pronom féminin), souhaite accompagner
                        les associations françaisesà but non-lucratif qui aident les femmes artistes à faire connaître
                        leur travail et réseauter en leur fournissant certains des outils essentiels à
                        l’épanouissement de leur carrière.
                    </p>
                </div>
            </div>

            <aside class="bienvenue-block_image">
                <div class="image-femme-bureau">
                    <img src="~/img/illustration_accueil.svg" />
                </div>
                </ul>
            </aside>
        </div>
        <div class="ancre_down">
            <i class="fas fa-chevron-down ">
                <a href="#"></a>
            </i>
        </div>
    </section>

    <!-- HOME LES CROWDFUNDINGS -->
    <section class="container crowdfunding_accueil_container">
        <div class="crowdfunding_accueil_title">
            <h2>Les crowdfundings par thème</h2>
        </div>
        <div class="crowdfunding_accueil_gallery">
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/peinture_mini.png"
                         alt="découvrir les crowdfunding dans l'univers de la peinture" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Peinture</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/movie_mini.png"
                         alt="découvrir les crowdfunding dans l'univers du cinema" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Cinéma</h3>

                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/sculpt_mini.png"
                         alt="découvrir les crowdfunding dans l'univers de la sculpture" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Sculpture</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/streetart_mini.png"
                         alt="découvrir les crowdfunding dans l'univers du street art" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Street Art</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/music_mini.png"
                         alt="découvrir les crowdfunding dans l'univers de la musique" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Musique</h3>
                </div>
            </div>
            <div>
                <div class="crowdfunding_accueil_img">
                    <img class="img_theme"
                         src="~/img/spectacle_mini.png"
                         alt="découvrir les crowdfunding dans l'univers du spectacle" />
                </div>
                <div class="crowdfunding_title_theme">
                    <h3>Danse</h3>
                </div>
            </div>
        </div>
    </section>

    <!-- HOME LES ARTISTES -->
    <section class="container artist_accueil_container">
        <div class="artiste_gallery_accueil">
            <h2>Les artistes du moment</h2>
        </div>
        <div class="gallery-artistes-home">
            <article>
                <div class="artist_accueil_block">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_1.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>
                <div class="artist_accueil_title">
                    <h3>Camille Gareau</h3>
                </div>
            </article>
            <article>
                <div class="artist_accueil_block">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_2.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>

                <div class="artist_accueil_title">
                    <h3>Brigitte Lemieux</h3>
                </div>
            </article>

            <article>
                <div class="image-artistes-home">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_3.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>

                <div class="artist_accueil_title">
                    <h3>Delphine Chabot</h3>
                </div>
            </article>
            <article>
                <div class="image-artistes-home">
                    <img class="artist_accueil_img"
                         src="~/img/artiste_4.png"
                         alt="découvrir l'univers de cette artiste" />
                </div>

                <div class="artist_accueil_title">
                    <h3>Renée Marseau</h3>
                </div>
            </article>
        </div>
        <div class="artist_link_page">
            <a class="link_button">Découvrir toutes les artistes</a>
            <i class="fas fa-chevron-right icon_artist_link"></i>
        </div>
    </section>
    <!-- HOME A PROPOS -->
    <section class="about_accueil_container container">
        <div class="about_accueil_title">
            <h2>C'est quoi <br> Fosther?</h2>
        </div>
        <div class="about_line-break">
        </div>
        <div class="about_accueil_block">
            <div class="about_accueil_text">
                <h3> Mettre en valeur les femmes artistes!</h3>
                <p>
                    En effet, les femmes artistes souffrent encore au XXIe siècle en France d’un manque de visibilité et
                    de reconnaissance sur leur travail. Selon un rapport du Haut Conseil à l’Egalité paru en 2018, les
                    femmes artistes françaises gagnent en moyenne 18% de moins que leurs homologues masculins. Quel que soit
                    leur art, les femmes sont moins nombreuses, moins payées, moins aidées, moins programmées, moins récompensées
                    et moins promues.<br>
                </p>

                <p>
                    Face à ce constat, les médias numériques constituent plus que jamais pour les femmes des leviers essentiels pour gagner en visibilité et parvenir à vivre de leur art, en leur
                    permettant d’accéder à de nouvelles opportunités ou encore de générer davantage de rencontres avec leurs
                    différentes parties-prenantes (grand public, partenaires financiers, logistiques ou créatifs...). <br>
                </p>
                <p>
                    Avec le projet de création de la plateforme FOST/HER, la plataforme souhaite accompagner les associations françaises à but non-lucratif qui aident les femmes artistes à
                    faire connaître leur travail et réseauter en leur fournissant certains des outils essentiels à
                    l’épanouissement de leur carrière.
                </p>
                <p>
                    Ce projet vise accompagné respectivement des femmes cinéastes, écrivaines, chorégraphes,
                    compositrices et illustratrices, à qui l’usage de la plateforme sera destiné. La plateforme FOST/HER
                    a vocation à encourager le rayonnement de l’art créé par les artistes femmes.
                </p>
            </div>
            <div class="about_accueil_block_img">
                <div class="about_accueil_image">
                    <img src="~/img/visuel_fosther.svg" />
                </div>
            </div>
        </div>
    </section>
    <!--<h1>Bienvenue sur la plateforme FostHer !</h1>

    <ul>
        <li>@Html.ActionLink("Créer une artiste", "CreateArtist", "Artist")</li>
        <li>@Html.ActionLink("Supprimer une artiste", "DeleteArtist", "Artist")</li>
        <li>@Html.ActionLink("Modifier une artiste", "EditArtist", "Artist")</li>
        <li>@Html.ActionLink("Créer une association", "CreateAssociation", "Association")</li>
        <li>@Html.ActionLink("Supprimer une association", "DeleteAssociation", "Association")</li>
        <li>@Html.ActionLink("Modifier une association", "EditAssociation", "Association")</li>
        <li>@Html.ActionLink("Créer un crowdfunding", "CreateCrowdfunding", "Crowdfunding")</li>
        <li>@Html.ActionLink("Supprimer un crowdfunding", "DeleteCrowdfunding", "Crowdfunding")</li>
        <li>@Html.ActionLink("Modifier un crowdfunding", "EditCrowdfunding", "Crowdfunding")</li>
    </ul> -->

</body>
</html>

