@model ProjetFostHer.Models.Cart
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <div class="page-panier-container">
            <div class="page-panier-title">
                <h3>Mon Panier</h3>
                <a class="fas fa-shopping-cart"></a>
            </div>
            <div class="panier-block-center">
                <table class="panier-table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Quantité <input type="submit" value="Update" /></th>
                            <th>Supprimer</th>
                            <th>Modifier</th>
                            <th>Sous-total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Items.Count; i++)
                        {
                            <tr>
                                <td>@Model.Items[i].Product.Name</td>
                                <td>@Model.Items[i].Product.Price</td>
                                <td> @Html.TextBoxFor(m => Model.Items[i].Quantity, new { @type = "number", min = "1" }) </td>
                                <td>@Html.ActionLink("Remove", "Remove", "Cart", new { id = @Model.Items[i].Id })</td>
                                <td>@Html.ActionLink("Modifier", "OnPostUpdate", "Cart", new { id = @Model.Items[i].Id })</td>
                                <td>@(Model.Items[i].Product.Price * Model.Items[i].Quantity)</td>
                                @Html.HiddenFor(m => @Model.Items[i].Product.Price)
                                @Html.HiddenFor(m => @Model.Items[i].Product.Name)
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panier-total-paiement">
                <div class="total-paiement-somme">
                    <h3>Total</h3>
                    <p>@(Model.Items.Sum(item => item.Product.Price * item.Quantity))</p>
                </div>
                <button class="button-paiement">@Html.ActionLink("Paiement", "PaymentEvent", "Payment", new { id = Model.Id })</button>
                <p>Nous acceptons</p>
                <a class="fab fa-cc-visa"></a>
                <a class="fab fa-cc-mastercard"></a>
                <a class="fab fa-cc-amex"></a>
                <a class="fab fa-cc-paypal"></a>
            </div>
        </div>
    }
</body>
</html>