

@{
    Layout = "_Layout";
}
@using ProjetFostHer.Models
@using ProjetFostHer.Controllers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexEvent</title>
</head>
<body>
    <h1> Billets d'évènements</h1>

    <table cellpadding="2" cellspacing="2" border="1">



        <tr>


            <th> Name </th>
            <th> Price </th>
            <th> Quantity </th>
            <th> Sub Total</th>

        </tr>
        @foreach (Cart item in ViewBag.listcarts)
        {
            if (item.crowdfunding == null && !(item.Event == null))
            {


                <tr>

                    <td>@item.Event.Designation </td>
                    <td>@item.Event.Price </td>
                    <td>@item.Event.Quantity </td>
                    <td>@(item.Event.Quantity * item.Event.Price) </td>


                </tr>
            }

        }
    </table>
    <br />
    <h1> Crowdfundings</h1>
    <table cellpadding="2" cellspacing="2" border="1">



        <tr>


            <th> Name </th>
            
            <th> Donation </th>
            <th> Sub Total</th>

        </tr>
        @foreach (Cart item in ViewBag.listcarts)
        {
            if (!(item.crowdfunding == null) && (item.Event == null))
            {

                <tr>
                    <td>@item.crowdfunding.NameCrowdfunding </td>
                    
                    <td>@item.crowdfunding.Donation </td>
                    <td>@(item.crowdfunding.Donation ) </td>


                </tr>
            }
        }


    </table>


</body>
</html>
