@model ProjetFostHer.Models.Association
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateAssociation</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Ajouter une association : </legend>
            @Html.LabelFor(m => Model.Email)
            @Html.TextBoxFor(m => Model.Email)
            @Html.ValidationMessageFor(m => Model.Email)
            <br />
            @Html.LabelFor(m => Model.Password)
            @Html.TextBoxFor(m => Model.Password)
            @Html.ValidationMessageFor(m => Model.Password)

            @Html.LabelFor(m => Model.AssoName)
            @Html.TextBoxFor(m => Model.AssoName)
            @Html.ValidationMessageFor(m => Model.AssoName)
            )

            @Html.LabelFor(m => Model.Address)
            @Html.TextBoxFor(m => Model.Address)
            @Html.ValidationMessageFor(m => Model.Address)

            @Html.LabelFor(m => Model.Tel)
            @Html.TextBoxFor(m => Model.Tel)
            @Html.ValidationMessageFor(m => Model.Tel)

            @Html.LabelFor(m => Model.RNA)
            @Html.TextBoxFor(m => Model.RNA)
            @Html.ValidationMessageFor(m => Model.RNA)

            @Html.LabelFor(m => Model.Siren)
            @Html.TextBoxFor(m => Model.Siren)
            @Html.ValidationMessageFor(m => Model.Siren)

            <br />
            <input type="submit" value="Créer" />
        </fieldset>
    }
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</body>
</html>
