
@{
//Layout = "_Layout";
}
@using ProjetFostHer.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexEvent</title>
</head>
<body>
    <table cellpadding="2" cellspacing="2" border="1">

        <tr>

            <th> Id </th>
            <th> Name </th>
            <th> Price </th>
            <th> Acheter </th>

        </tr>>


        @foreach (Event e in ViewBag.listEvents)
        {
            <tr>
                <td>@e.Id </td>
                <td>@e.Designation </td>
                <td>@e.Price </td>

                <td align="center">@Html.ActionLink("Buy Now", "Buy", "Cart", new { id = @e.product.Id })</td>


            </tr>
        }
    </table>
    <h1 align="center">@Html.ActionLink("Retour à l'accueil", "Index", "Home")</h1>
    
</body>
</html>
