
@{
    Layout = "_Layout";
}
@using ProjetFostHer.Models

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndexEvent</title>
</head>
<body>
    <section class="container">
        <h1>Associations</h1>
        <ul>
            <li>@Html.ActionLink("Créer un crowdfunding", "CreateCrowdfunding", "Crowdfunding")</li>
            <li>@Html.ActionLink("Supprimer un crowdfunding", "DeleteCrowdfunding", "Crowdfunding")</li>
            <li>@Html.ActionLink("Modifier un crowdfunding", "EditCrowdfunding", "Crowdfunding")</li>
        </ul>
    </section>

    <table cellpadding="2" cellspacing="2" border="1">

        <tr>

            <th> Id </th>
            <th> Name </th>
            <th> Price </th>
            <th> Acheter </th>

        </tr>>


        @foreach (Event e in ViewBag.listEvents)
        {
            <tr>
                <td>@e.Id </td>
                <td>@e.Designation </td>
                <td>@e.Price </td>

                <td align="center">@Html.ActionLink("Order Now", "CartEvent", "Event", new { id = e.Id })</td>


            </tr>
        }
    </table>
    <h1 align="left">@Html.ActionLink("Afficher mon panier", "OrderNow", "Cart")</h1>

</body>
</html>
